.hor-separator-10 {
    width: 100%;
    height: 0;
    margin-top: 10px;
}

.hor-separator-15 {
    width: 100%;
    height: 0;
    margin-top: 15px;
}

.hor-separator-20 {
    width: 100%;
    height: 0;
    margin-top: 20px;
}